@model EmployeeDto
@{
    ViewData["Title"] = "Create";
}

<h1>Add New Employee</h1>
<div asp-validation-summary="All"></div>
<form asp-action="Create">
    <partial name="PartialView/CreateEditView" />
    <input type="submit" value="submit" class="btn btn-primary mt-3" />
    <a asp-action="Index" class="btn btn-light mt-3">Back To List</a>
</form>
@* @section ValidationScriptSection {
    <partial name="_ValidationScriptPartial" />
} *@