@model Department
@{
    ViewData["Title"] = "Update";
}

<h1>Update @Model.Name</h1>
<form asp-action="Update">
    <div>
        <label class="col-form-label" asp-for="Code"></label>
        <input class="form-control" asp-for="Code" />
        <span asp-validation-for="Code" class="text-danger"></span>
    </div>
    <div>
        <label class="col-form-label" asp-for="Name"></label>
        <input class="form-control" asp-for="Name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    @*  <div>
    <label class="col-form-label" asp-for="CreatedAt"></label>
    <input class="form-control" asp-for="CreatedAt" />
    <span asp-validation-for="CreatedAt" class="text-danger"></span>
    </div> *@
    <input type="submit" value="Save" class="btn btn-primary" />
    <a asp-action="Index" class="btn btn-light">Back To List</a>
</form>
